
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.vim/.netrwhist
ml-course/module-1/IceCreamSales/graph_data.csv
ml-course/module-1/Insurance/graph_data.csv
ml-course/regression/linear/datasets/IceCreamSales/graph_data.csv
ml-course/ml-framework/learn/eg1.c
ml-course/ml-framework/learn/eg1.out
ml-course/ml-framework/learn/eg2.c
ml-course/ml-framework/learn/eg2.out
ml-course/ml-framework/learn/eg3.c
ml-course/ml-framework/learn/eg3.out
ml-course/ml-framework/learn/eg4.c
ml-course/ml-framework/learn/eg4.out
ml-course/ml-framework/learn/eg5.c
ml-course/ml-framework/learn/eg5.out
